
.AppGlass {
  display: grid;
  grid-template-columns: 300px 1fr;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f9f9f9;
}


.main-content {
  overflow-y: auto;

}

.scrollable-container::-webkit-scrollbar {
  width: 20px;
}
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}



@media (max-width: 768px) {

   .AppGlass{
     grid-template-columns: 1fr; 
  }
    .AppGlass.navbar-open {
  grid-template-columns: 150px 1fr;
}
  .AppGlass.navbar-closed {
  grid-template-columns: 0 1fr;
}
  }
 
 

