
.AppGlass {
  display: grid;
  grid-template-columns: 300px 2fr;
  /* height: 100vh; */
  box-sizing: border-box;
  overflow-y: auto; 
  overflow-x: auto;
  background-color: #f9f9f9;

}


.main-content {
  overflow-y: auto;
  /* padding: 20px; */
}

.scrollable-container::-webkit-scrollbar {
  width: 20px;
}
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}



@media (max-width: 768px) {
  .App.with-sidebar .AppGlass  {
    grid-template-columns:   1fr; /* Stack vertically on small screens */
    grid-template-rows: auto ;

  }
  /* .sidebar {
    display: none;
  } */
  .AppGlass {
    grid-template-columns:   1fr; 
    grid-template-rows: auto ;

  }
}