.header-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2;
  text-decoration-thickness: 2;
  color: #213F7D;
}

.header-name {
font-family: 'Work Sans', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0;
color: #213F7D;
}

.main-text-head {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #213F7D;
 
}

.custom-div {
  width: 250px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 1px; 
  box-sizing: border-box;
  background-color: #fff; 
}


.custom-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
    margin: 0; 
}
.custom-text-large {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
    margin: 0; 
  padding-Top: 0.5rem;
}

.data-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #545F7D;
}


.table-header,
.table-row {
  display: grid;
  grid-template-columns: 120px 120px 250px 120px 180px 100px  50px; 
  align-items: center;
  gap: 1.5rem; 
  margin-top: 0.5rem;
  
}
.table-row {
  padding-top: 0.5rem;
  padding-bottom: 1rem; 
  border-bottom: 1px solid #ccc;
  
}
.table-row:last-child {
  border-bottom: none;
}
.table-row:first-child {
  border-bottom: none;
}

.table-column {
  display: flex;
  align-items: center;
  gap: 0.5em;
}


.data-title {
  font-weight: 600;
  font-size: 12px;
  color: #545f7d;
}

.data-information {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}


.rounded-box {
   padding: 0.5rem 0.1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-information {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}


.ellipsis-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-dropdown {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.modal-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
    margin: 0; 
}


.arrow-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #213F7D;
}

.header-box {
  width: 170px;
  height: 40px;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  
}


.header-box p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em; 
  text-align: center;
  text-transform: uppercase;
}

.vertical-divider {
 width: 1px;        
    height: 100px;       
  background-color:  #213F7D; 
  opacity: 0.2;    
  margin-top: 6px;      
}


.name-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
   margin: 0;
  
}
.user-number {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
   padding-top:10px;
   color: #545F7D;
}


.user-status {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.account-number {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
   padding-top:10px;
   color: #213F7D;
}

.user-navigation-title{
   font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: 'black';
    cursor: pointer;
}

.user-navigation-title.active {
  color: #39cdcc;               
  border-bottom: 3px solid #39cdcc;
  font-weight: 500;
}