
.text-body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #213F7D;
}
.text-head {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #545F7D;
}
.divider {
  width: 100%;
  border-top: 1px solid #213F7D;
  margin: 1rem 0;
}

.sidebar {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: width 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  overflow-y: auto;
  overflow-x: hidden;
    scrollbar-width: thin;         
  scrollbar-color: #ccc transparent;
    max-height: '100vh';
}



.sidebar::-webkit-scrollbar {
  width: 2rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}






.hamburger {
  display: none;
   cursor: pointer;
 
}






@media (max-width: 1024px) {
  .hamburger {
    cursor: pointer;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  }

}



@media screen and (max-width: 768px) {
    .sidebar.open {
    width: 220px;
     visibility: visible;
  opacity: 1;
  transform: translateX(0);
  }
 
 
  .hamburger {
    display: block;
    cursor: pointer;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-end; 

  }
  .sidebar.closed {
  visibility: hidden;       
  opacity: 0;              
  transform: translateX(-100%); 
  transition: all 0.3s ease;
}
}






@media (max-width: 850px) {
  .sidebar {
    width: 300px;
    z-index: 1000;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }


}

