/* Sidebar.css */
.text-body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #213F7D;
}
.text-head {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #545F7D;
}
.divider {
  width: 100%;
  border-top: 1px solid #213F7D;
  margin: 1rem 0;
}

.sidebar {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: width 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  overflow-y: auto;
}



.sidebar::-webkit-scrollbar {
  width: 2rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}



.hamburger-inside {
  cursor: pointer;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 30px;
  transition: left 0.3s ease;
}
.hamburger {
  display: none;
   /* justify-content: flex-end;  */
   cursor: pointer;
 
}
.hamburger .hamburger-right{
  justify-content: flex-end; 
  cursor: pointer;
}



/* Only show hamburger on smaller screens */
@media (max-width: 1024px) {
  .hamburger {
    cursor: pointer;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  }

}


/* Responsive: collapse sidebar and show hamburger */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 20px;
  }

  /* .sidebar.open {
    width: 220px;
  } */

 
 
  .hamburger {
    display: block;
    cursor: pointer;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-end; 
  /* justify-content: center; */
  }
}






@media (max-width: 899px) {
  .sidebar {
    /* width: 100%; */
    position: absolute;
    z-index: 1000;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    color: black;
    justify-content: center;
  }

  .dropdown-icon {
    display: block;
  }

  .user-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .label {
    display: inline; /* or block, depending on your desired look */
  }
}

